<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Last Updated: <span style="white-space: nowrap;">{{DATETIME_IST}}</span></p>
            </div>
            <div class="col-md-4">
                <p>Powered by <a href="./maker/templates/architecture.html"
                        target="_blank" rel="noopener">DEVOPS</a></p>
            </div>
            <div class="col-md-4">
                <p>Monitoring <a href="https://agileopspro.grafana.net/public-dashboards/506698168b8d4631b6a54caff0597501?orgId=1&refresh=1m" target="_blank" rel="noopener">Jenkins</a></p>
            </div>
        </div>
    </div>
</footer>
</body>

</html>