<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Last Updated: <span style="white-space: nowrap;">{{DATETIME_IST}}</span></p>
            </div>
            <div class="col-md-4">
                <p>Powered by <a href="https://github.com/HarshitBhatt043/Jenkins-Project-Web-Arcade/tree/main"
                        target="_blank" rel="noopener">Jenkins Automation</a></p>
            </div>
        </div>
    </div>
</footer>
</body>

</html>