<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="manifest" href="site.webmanifest" />
    <title>{{TITLE}}</title>
    <style>
      {{CSS}}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="headline">{{HEADLINE}}</div>
      <div id="popup" class="popup">
        <div class="popup-content">
          <h2 id="popup-title" style="color: blue"></h2>
          <p id="popup-message" style="color: green"></p>
          <div class="popup-buttons">
            <button id="yesButton" class="popup-button">Yes</button>
            <button id="noButton" class="popup-button">No</button>
          </div>
        </div>
      </div>
      <script src="./maker/templates/popup.js"></script>
    </div>
  </body>
</html>
